<main id="main" class="main">
  <div class="pagetitle">
    <h1>List-Etudiant</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Etudiant</li>
        <li class="breadcrumb-item active">List-Etudiant</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="display: inline-block; width: 90%">
              List des etudiants
            </h5>
            <div class="d-flex justify-content-end mb-4">
              <button
                [routerLink]="['/AjouterEtudiant']"
                routerLinkActive="router-link-active"
                class="btn btn-primary"
              >
                Ajouter
              </button>

              <button class="btn btn-light" (click)="downloadPDF(p)">
                Télecharger en PDF
              </button>
            </div>

            <div class="error" *ngIf="!testError(etudiantService.searchText)">
              <div class="error-emoji">{{ this.listEmotes[randomNumber] }}</div>
              <div class="error-text">Il y'a aucun étudiant</div>
              <button (click)="deletefilters()" class="button-error">
                Effacez vos filtres et réessayez
              </button>
            </div>

            <table
              class="table table-striped"
              *ngIf="testError(etudiantService.searchText)"
              id="my-table"
            >
              <thead>
                <tr>
                  <th scope="row">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Option</th>
                  <th scope="col">Department</th>
                  <th scope="col">Outils</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of listEtudiants
                      | filter : etudiantService.searchText
                      | paginate : { itemsPerPage: 5, currentPage: p };
                    let i = index
                  "
                  style="cursor: pointer"
                  (dblclick)="ShowDetails(item)"
                >
                  <td *ngIf="p === 1" style="font-weight: bold">{{ i + 1 }}</td>
                  <td *ngIf="p !== 1" style="font-weight: bold">
                    {{ p * 5 - 4 + i }}
                  </td>
                  <td>{{ item.nomE }}</td>
                  <td>{{ item.prenomE }}</td>
                  <td>{{ item.opt }}</td>
                  <td *ngIf="item?.departement">
                    {{ item.departement.nomDepar }}
                  </td>
                  <td *ngIf="!item?.departement">
                    <a
                      class="bi bi-cloud-plus"
                      style="font-size: 25px; color: #5bc0de; cursor: pointer"
                      (click)="openDialog(item)"
                    ></a>
                  </td>

                  <td>
                    <a
                      [routerLink]="['/ModifierEtudiant', item.idEtudiant]"
                      routerLinkActive="router-link-active"
                      class="bi bi-pencil-square"
                      style="
                        font-size: 25px;
                        color: #f0ad4e;
                        cursor: pointer;
                        margin-right: 1rem;
                      "
                    ></a>
                    <a
                      (click)="supprimerEtudiant(item)"
                      class="bi bi-trash"
                      style="font-size: 25px; color: #d9534f; cursor: pointer"
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>

            <pagination-controls
              *ngIf="testError(etudiantService.searchText)"
              style="display: inline-block; margin: 0 30%; width: 500px"
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="height: 150px" *ngIf="showDetails">
      <div class="row g-0">
        <div class="col-md-3 img-student">
          <img
            src="assets/img/icon-5963629.png"
            class="img-fluid rounded-start"
            style="height: 150px; margin-left: 5rem"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.nomE }} {{ item.prenomE }}</h5>
            <p class="card-text">
              <i>{{ item.nomE }} {{ item.prenomE }}</i> est un etudiant dans
              <b>le department </b>
              <i *ngIf="item.departement">{{ item.departement.nomDepar }}</i>
              <i *ngIf="!item.departement">?</i>
              <br />et du <b>option </b>:
              {{ item.opt }}
            </p>
          </div>
        </div>
      </div>
      <div class="x-button" (click)="onXbuttonClick()"></div>
    </div>
  </section>
</main>
